@charset "UTF-8";

/* estilos para impressoras*/

*{
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;

}
menu{
    display: none;
}

article{
    width: 100%;
}

article::after{
    content: 'Este site foi empresso atravez do site "www.cursoemvideo.com"';
}