@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100;0,300;1,100;1,300&family=Poppins:wght@300;400;600&family=Titillium+Web&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');


@font-face {
    font-family: "love";
    src: url('fonts/love larry.ttf') 
    format('truetype');
    font-weight: normal;
    font-style: normal;
 }
 h1{
    font-family: 'love', Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
 }

body{
    font-family: 'Chivo Mono', monospace;
    font-family: 'Poppins', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    max-width: 800px;
    background-color: antiquewhite;
    
}

h2{
    font-family: 'love', cursive;
    font-weight: normal;
}
p{
text-align: justify;    
}