@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

:root{
    --font01: 'Caveat', cursive;
    --font02: 'Sedgwick Ave Display', cursive;

}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: darkgrey;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    font-family: var(--font02);
    font-size: 9vw;
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header > p > a{
    color: white;
    text-decoration: none;
}
header > p > a:hover{
    text-decoration: underline;
}

section{
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1em;
    font-family: var(--font01);
    font-size: 5vw;

}

section.normal{
    background-color: white;
}

section.imagem{
    background-color: aquamarine;
    color: white;
    background-size: cover;
    box-shadow: inset 1px 1px 10px 3px rgba(0, 0, 0, 0.527);
    background-attachment: fixed;
}

#flor{
    background-image: url(./imagens/background001.jpg);
    background-position: right center;
}

#livro{
    background-image: url(./imagens/background002.jpg);
    background-position: right bottom;
}
section.imagem > p{
    display: inline-block;
    background-color: rgba(3, 3, 3, 0.514);
    padding: 5px;
    border-radius: 5px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.493);
    
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    
}

footer > p > a{
    text-decoration: none;
    color: white;
}

footer > p > a:hover{
    text-decoration: underline;
}